<div class="parameter-list" [mxBackground]="'lightgrey'">

  <!-- Params table header -->
  <!-- <div class="row params-header">
    <div class="col s3 m4">Tipo dato
        <i matTooltip="Tipo de dato como palabra clave" class="fas fa-info-circle"></i>
    </div>
    <div class="col s3 m3" >Parámetro
        <i matTooltip="El nombre como tu agente reconocerá la palabra seleccionada" class="fas fa-info-circle"></i> </div>
    <div class="col s3 m2"></div>
    <div class="col s3 m3">Valor</div>
  </div> -->


  <!-- Params table body -->
  <div class="part"
  *ngFor="let parte of phrase.parts; index as i" >

      <div class="part-parameter-form" *ngIf="parte" >
          <as-part-parameter
          [part]="parte"
          (onTipoChanged)="setTipoFrase($event, i)"
          (onDelete)="onDelPartParam(i)"
          (paramAdded)="onParamAdded($event, i)"
          ></as-part-parameter>
      </div>
  </div>
</div>
