<div class="container">
  <div class="row aling-cols">
      <div class="col s10">
          <h4>Respuestas</h4>
      </div>
      <div class="col s2">
          <button mat-icon-button (click)="addRespuesta()">
              <i class="fas fa-plus"></i>
          </button>
      </div>
  </div>


  <ng-container *ngIf="(responses.list$ | async) as responses; else sinRespuestas">
    <div class="row respuestasList" *ngIf="responses.length; else sinRespuestas" (cdkDropListDropped)="drop($event)" cdkDropList #respuestasList >
      <div class="respuestaItem"
      *ngFor="let response of responses; let i = index" cdkDrag
      [cdkDragDisabled]="openedCard == i">
        <as-response-item
        [respuesta]="response"
        (onDelete)="deleteRespuesta( response.id || '')"
        (opened)="onOpened(i)"
        ></as-response-item>
      </div>

      <div *ngIf="emptyResponse"
      class="respuestaItem">
        <as-response-item
        [respuesta]="emptyResponse"
        (onDelete)="cancelAddResponse()"
        (opened)="onOpened(responses.length)"
        ></as-response-item>
      </div>
    </div>
  </ng-container>

  <ng-template #sinRespuestas>
    <div class="row respuestasList">
      <div class="col s12 center">
        Aún no has agregado respuestas
      </div>
    </div>
  </ng-template>

</div>
