<div class="container">

  <h2>Agentes</h2>
  <mat-divider [inset]="true"></mat-divider>
  <div class="row">
    <div class="col s12">
      <as-agentes-crud></as-agentes-crud>
    </div>
  </div>

  <h2>Clientes</h2>
  <mat-divider [inset]="true"></mat-divider>
  <div class="row">
    <div class="col s12">
      <as-clientes-resumen></as-clientes-resumen>
    </div>
  </div>

  <h2>Cuenta</h2>
  <mat-divider [inset]="true"></mat-divider>
  <div class="row">
    <div class="col s12">

    </div>
  </div>

</div>
