<div id="tipo-body" *ngIf="tipo">

  <!-- OPCIONES DE ENTIDAD -->
  <div class="row">
    <div class="col s12" id="tipo-options">
      <mat-checkbox
        [color]="'primary'"
        (change)="onKindChange($event)"
        [checked]="tipo.kind == 'KIND_MAP'"
      >
        Activar sinónimos
      </mat-checkbox>

      <mat-checkbox
        [color]="'primary'"
        (change)="onExpantionChange($event)"
        [checked]="tipo.autoExpansionMode == 'AUTO_EXPANSION_MODE_DEFAULT'"
      >
        Auto expansión
      </mat-checkbox>

      <mat-checkbox
        [color]="'primary'"
        (change)="onFuzzyChange($event)"
        [checked]="tipo.enableFuzzyExtraction"
      >
        Activar coincidencia parcial
      </mat-checkbox>
    </div>
  </div>


  <!-- CLASES CRUD -->
  <div class="row">
    <div class="col s12">
      <h6>Clases del tipo de dato</h6>

      <!-- Clases con sinónimos -->
      <mat-card >
        <mat-card-content>


          <!-- Table head -->
          <div class="row" id="clases-header">
            <div class="col s3"><b>Clase</b></div>
            <div class="col s9"
            *ngIf="tipo.kind == 'KIND_MAP'"
            ><b>Sinónimos</b></div>
          </div>

          <mat-divider></mat-divider>


          <!-- READ lista CLASES DE TIPO -->
          <ul class="clase-list collection">
            <li
              class="clase-item collection-item"
              *ngFor="let clase of tipo.entities; index as i"
            >


            <!-- UPDATE CLASE  -->
              <div class="row">
                <as-entity
                  [claseId]="clase.value"
                  [kind]="tipo.kind"
                ></as-entity>
              </div>
            </li>

            <mat-divider></mat-divider>

            <!-- CREATE CLASE DE TIPO -->
            <ng-template #addClase>
              <li
                class="clase-item"
                [ngClass]="{ 'collection-item': tipo_.switchAddClase }"
              >
                <div class="row">
                  <as-entity
                    [kind]="tipo.kind"
                  ></as-entity>
                </div>
              </li>
            </ng-template>
          </ul>

          <!-- TO CREATE -->
          <ng-container *ngIf="!tipo_.switchAddClase; else addClase">
            <button
              mat-raised-button
              color="primary"
              (click)="onAddClase()"
              [disabled]="!tipo.name"
            >
              Agregar nueva clase
            </button>
          </ng-container>
        </mat-card-content>
      </mat-card>
      <!-- !## Clases con sinónimos -->


    </div>
  </div>
  <!-- !## CLASES CRUD -->
</div>
