<div class="row align-cols">
  <div class="col s10">
    <h5>Parámetros</h5>
  </div>
  <div class="col s2">
    <button mat-button (click)="toAddParam()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col s12" id="params-head">
    <div class="row">
      <div class="col s4">Nombre</div>
      <div class="col s4">Entidad</div>
      <div class="col s3">Valor</div>
      <!-- <div class="col s1">Req</div> -->
      <!-- <div class="col s1">Lista</div> -->
      <div class="col s1"></div>
    </div>
    </div>
    <div class="col s12" *ngIf="switchAddParameter">
        <as-add-parameter (closeRow)="switchAddParameter = false" ></as-add-parameter>
    </div>
    <div class="col s12" *ngIf="(params.list$ | async) as params" id="params-body">
      <ng-container *ngIf="params.length > 0; else noParams">
        <as-param-row *ngFor="let param of params" [param]="param"></as-param-row>
      </ng-container>
      <ng-template #noParams>
        <p class="center">No has agregado parametros</p>
      </ng-template>

    </div>
</div>
