<div class="col s4 resp-label">Sugerencias</div>
<div class="col s8">
  <mat-form-field appearance="outline" class="chip-list" style="width: 100%">
    <mat-chip-list
      class="mat-chip-list-stacked"
      #newSinonimosList
      aria-label="Sugerencias"
      [aria-orientation]="'horizontal'"
    >
      <mat-chip
        *ngFor="let sugerencia of sugerencias"
        [selectable]="true"
        [removable]="true"
        (removed)="removeSuggest(sugerencia)"
      >
        {{ sugerencia }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Escribe las opciones de respuesta que el cliente puede elegir"
        style="max-height: 1em"
        #sinonimosInput
        [matChipInputFor]="newSinonimosList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addSuggest($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <!-- <div
    class="row align-cols suggest-row"
    *ngFor="let sugerencia of sugerencias; index as i"
  >
    <div class="col s10">
      {{ sugerencia.text }} <br />
      <span style="font-size: x-small">{{ sugerencia.context }}</span>
    </div>
    <div class="col s2">
      <button mat-icon-button [mat-menu-trigger-for]="suggestMenu">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <mat-menu #suggestMenu="matMenu">
        <button mat-menu-item (click)="onEdit(sugerencia, i)">Editar</button>
        <button mat-menu-item (click)="remove(i)">Eliminar</button>
      </mat-menu>
    </div>
  </div>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col s12">
          <mat-form-field appearance="outline">
            <mat-label>Texto</mat-label>
            <input
              placeholder="Escribe un texto y luego ENTER"
              matInput
              type="text"
              [(ngModel)]="newSuggest.text"
              name="text"
              (keyup.Enter)="addText()"
            />
          </mat-form-field>
        </div>
        <div class="col s12">
          <as-context-selector
            [contexto]="newSuggest.context || ''"
            (contextSelected)="addContext($event)"
          ></as-context-selector>
        </div>
      </div>
    </mat-card-content>

  </mat-card> -->
</div>
