<!-- AGREGAR CLASES SIN SINÓNIMO -->

<div
  class="col s3"
>
  <mat-form-field appearance="fill">
    <input
      placeholder="Nuevo parametro"
      type="text"
      name="addClaseItem"
      id="addClaseItem"
      matInput
      [(ngModel)]="newClaseItem"
      (keyup)="delSpaces($event)"
      (keydown.Tab)="onAddClase($event); (false)"
      (keyup.ENTER)="onAddClase($event); (false)"
    />
  </mat-form-field>
</div>


<!-- * AGREGAR SINÓNIMOS -->

<div class="col s8">
  <mat-form-field appearance="outline" class="chip-list" style="width: 100%">
    <mat-chip-list
      class="mat-chip-list-stacked"
      #newSinonimosList
      aria-label="Sinónimos"
      [aria-orientation]="'horizontal'"
    >
      <mat-chip
        *ngFor="let sinonimo of newClaseSinonimos"
        [selectable]="true"
        [removable]="true"
        (removed)="delSinonimo(sinonimo)"
      >
        {{ sinonimo }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Escribe un nuevo sinónimo y luego presiona coma (,) para agregar"
        style="max-height: 1em"
        #sinonimosInput
        [matChipInputFor]="newSinonimosList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addSinonimo($event)"
      />
    </mat-chip-list>
  </mat-form-field>
</div>

<!-- BOTONES DE SALIDA -->
<div class="col s1">
  <!-- <button mat-button (click)="setClase()">
    <i class="fas fa-check green-text"></i>
  </button> -->
  <button mat-icon-button (click)="claseDone.emit(true)">
    <i class="fas fa-times red-text"></i>
  </button>
</div>
