::ng-deep{
  .chip-list {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
  .mat-chip-list-wrapper {
      flex-direction: row !important;
      align-items: center !important;
      mat-chip {
          width: unset !important;
      }
  }
}
