<div id="foot"
gdev-color
[background]="'dark'">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <h5 gdev-color [color]="'bg2'">Enlaces importantes</h5>
                <div class="collection">
                    <a [routerLink]="['/precios']" class="collection-item">Precios</a>
                    <a [routerLink]="['/soporte']" class="collection-item">Soporte</a>
                    <a [routerLink]="['contacto']" class="collection-item">Contacto</a>
                </div>
            </div>
            <div class="col s12 m4">
                <h5 gdev-color [color]="'bg2'">Legal</h5>
                <div class="collection">
                    <a [routerLink]="['/legal/tratamiento-de-datos']" class="collection-item">Tratamiento de datos</a>
                    <a [routerLink]="['/legal/terminos-y-condiciones']" class="collection-item">Términos y Condiciones</a>
                </div>
            </div>
            <div class="col s12 m4 footer_logo">
                <img class="" src="/assets/icons/as-bco-h@0.5x.png
                " alt="logo negativo">
                <div class="social">
                    <a href="#">
                        <i class="fab fa-facebook-square fa-3x"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram fa-3x"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp-square fa-3x"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-youtube-square fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>