.selected {
  background: #ffee588c;
}

.row {
  margin: 0;
}

.frase-text {
  line-height: 1.5;
  position: relative;
  align-items: baseline;
}

span {
  cursor: text;
}

#inputPhrase {
  width: 100%;
}

