<!-- READ Frase -->
<ng-container *ngIf="!switchPhraseInput; else phraseInput">
  <div class="row">
    <div class="col s9 frase-text">
      <span class="frase-handler">
        <i class="fas fa-quote-right"></i>
      </span>
      <span *ngFor="let part of phrase.parts">
        <ng-container *ngIf="part && part.alias; else unSelected">
          <span
            class="selected"
            [ngStyle]="{ background: params_.getColor(part.alias) }"
          >
            {{ part.text }}
          </span>
        </ng-container>
        <ng-template #unSelected>
          {{ part ? part.text : "" }}
        </ng-template>
      </span>
    </div>
    <div class="col s3">
      <span class="delItem" (click)="delItem()">
        <i class="fas fa-trash-alt red-text"></i>
      </span>
      <!-- <span
        class="editItem"
        (click)="toEditPhrase(phrase); preventOnClick($event)"
      >
        <i class="fas fa-edit blue-text"></i>
      </span> -->
    </div>
  </div>
</ng-container>

<!-- UPDATE Editar frases -->
<ng-template #phraseInput>
  <div class="row">
    <div class="col s12">
      <as-phrase-input
      [phrase]="phraseToEdit"
      (onSubmit)="onSetPhrase($event)"
      ></as-phrase-input>
    </div>
  </div>
</ng-template>
