    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <h1>TERMINOS Y CONDICIONES DE AGENTE SMART</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-s12">
                    <p>
                        En AGENTE SMART, queremos proteger tus datos personales, por lo que te recomendamos leer
                        nuestras políticas de datos, para que conozcas como hacemos uso de los mismos para mejorar
                        nuestros servicios.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h2>1. Relación Contractual</h2>
                    <p>
                        “Agente Smart” es una sociedad legalmente constituida bajo la
                        legislación colombiana con domicilio en la Calle 51 #49-11 de
                        la ciudad de Medellin, e identificada con nit FALTA, Ofrecemos
                        soluciones tecnológicas que buscan facilitar el contacto y la
                        atención por medios virtuales y/o plataformas de comercio electrónico.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h2>2. Tratamiento de datos:</h2>
                    <p>
                        Con el objetivo de dar cumplimiento a la legislación vigente en materia
                        de protección de datos, en especial la ley 1581 de 2021, el decreto 1377
                        de 2013, y demás normas concordantes, este documento se debe interpretar
                        conforme dicha normatividad, dándole el sentido utilizado en dichas normas
                        en caso de cualquier duda o interpretación que se deba realizar.
                    </p>
                    <p>
                        Mediante el uso y/o acceso de los servicios ofrecidos por “Agente Smart”,
                        el usuario acepta vincularse jurídicamente por estas condiciones.
                        “Agente Smart” podrá poner fin de inmediato a estas condiciones o
                        cualquiera de los servicios en general, dejar de ofrecer o denegar el
                        acceso a los servicios o cualquier parte de ellos, en cualquier momento
                        y por cualquier motivo.
                    </p>
                    <p>“Agente Smart” podrá modificar las condiciones relativas a los servicios
                        cuando lo considere oportuno. Las modificaciones serán efectivas después
                        de la publicación por parte de “Agente Smart” de dichas condiciones actualizadas,
                        o las políticas modificadas sobre el servicio aplicado. Su acceso o uso continuado
                        de los servicios después de dicha publicación constituye su consentimiento a vincularse
                        por las condiciones y/o sus modificaciones.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3>• Definiciones:</h3>
                    <p>
                        Para la interpretación de esta política de datos, le pedimos tener en cuenta las siguientes
                        definiciones:
                    </p>
                    <ul>
                        <li>
                            Comprador: Cualquier persona natural o jurídica, que aceptó los términos y condiciones
                            de la plataforma para comunicarse con el comercio.</li>
                        <li>Comercio: Cualquier persona natural o jurídica, que previamente se ha vinculado con
                            “Agente Smart”, aceptando el procesamiento de datos y pagos de bienes o servicios que le
                            ofrecen
                            al comprador.</li>
                        <li>Datos personales: Es cualquier dato y/o información que se recoja en la plataforma que pueda
                            relacionarse o asociarse a una o varias personas que permita identificarlo y/o determinarlo.
                        </li>
                        <li>Política de tratamiento de Datos: Hace referencia al presente documento, aplicado por la
                            compañía “Agente Smart”, quien es el responsable del tratamiento, recolección,
                            almacenamiento, uso, circulación o supresión de los datos recolectados por la
                            plataforma de conformidad con la normatividad vigente.</li>
                        <li>Titular: Persona natural y/o jurídica cuyos datos personales sean objeto de
                            tratamiento de datos, dentro de la plataforma de “Agente Smart”.</li>
                        <li>Tratamiento de datos: Se refiere a las operaciones sobre datos personales,
                            tales como recolección, almacenamiento, uso, transferencia y/o transmisión,
                            tanto dentro como por fuera del territorio nacional.</li>
                        </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12">

                    <h3>Uso y finalidad del tratamiento de datos:</h3>
                    <p>
                        Conforme lo dispuesto en la ley de Habeas Data contenidas en la ley 1266 de 2008, ley 1581 de
                        2012,
                        el decreto 1377 de 2013 y demás normas reglamentarias y/o complementarias, El usuario de nuestra
                        plataforma
                        actuando como titular del derecho de los datos y/o grabaciones de manera previa, libre,
                        voluntaria,
                        inequívoca e informada, Autorizan expresamente por medio del “clic de aceptación” desde ahora a
                        AGENTE SMART,
                        identificada con Nit. FALTA, y/o a quien esta ceda sus derechos, para que realicen el
                        tratamiento de mis datos
                        personales referentes a datos generales, entre otros de: nombres y apellidos, identificación,
                        genero, de
                        ubicación, teléfonos, celular, fecha de nacimiento, correo electrónico, de contenido
                        socioeconómico, sensibles
                        y otros datos, tales como gustos y/o intereses particulares; para que en forma permanente puedan
                        utilizar mis
                        datos y/o grabaciones realizadas; los cuales podrán ser utilizados en a) Identificar el titular
                        para atención
                        de solicitudes en los distintos canales de atención de la compañía, b) Generación de
                        estadísticas y reportes,
                        c) Conocimiento del consumidor, d)Investigaciones, estudios de mercado y evaluación de
                        satisfacción,
                        e) Implementación e información de campañas y participación en rifas, f) Invitación a eventos
                        comerciales,
                        de Mercadeo y de Servicios Posventa, g) Respuesta y seguimiento a la gestión de Peticiones,
                        quejas y Reclamos
                        de todo tipo, h) Acompañamiento a compradores u envió de productos, i) Envió de información
                        comercial, educativa,
                        publicitaria o de importancia para la industria o el sector y de servicio, j) Compartir
                        información con terceros
                        relacionados, k) Utilizar su imagen y/o voz para campañas publicitarias o promocionales, l)
                        Actualización de
                        datos, m) realizar encuestas n) Realizar recordatorio para mantenimiento, ñ) Ejecutar campañas
                        de fidelización,
                        o) Comunicar información relacionada con productos para la financiación en la adquisición de
                        nuestros bienes
                        y servicios.
                    </p>
                    <p>
                        Con la aceptación de la POLÍTICA GENERAL DE TRATAMIENTO DE DATOS PERSONALES autorizo a que mis
                        datos Personales sean recolectados de formar permanente y tratados de conformidad con la
                        política aquí descrita.
                    </p>
                    <p>
                        En relación con los datos personales recolectados y tratados y de acuerdo con la Ley 1266 de
                        2008, 1581
                        de 2012, el decreto 1377 de 2013, y demás normas concordantes, el usuario manifiesta conocer que
                        tiene
                        los siguientes derechos: a) Conocer, actualizar y corregir mis datos personales, b) Puedo
                        ejercer este
                        derecho, entre otros, en relación con la información, parcial, inexacta, incompleta, dividida,
                        información engañosa o cuyo tratamiento sea prohibido o no autorizado, c) requerir prueba del
                        consentimiento otorgado para la recolección y el tratamiento de mis datos personales, d) ser
                        informado
                        por AGENTE SMART del uso que se le han dado a mis datos personales, e) presentar quejas ante la
                        Superintendencia de Industria y Comercio en el caso en que haya una violación por parte de
                        AGENTE SMART,
                        de las disposiciones de la Ley 1581 de 2012, el Decreto 1377 de 2013 y otras normas que los
                        modifiquen,
                        adicionen o complementen, de conformidad con las disposiciones sobre el requisito de
                        procedibilidad establecido
                        en el artículo 16 Ley 1581 de 2012, f) revocar la autorización otorgada para el tratamiento de
                        mis datos
                        personales, g) solicitar ser eliminado de su base de datos, h) tener acceso a mis Datos
                        Personales que
                        AGENTE SMART hayan recolectado y tratado.
                    </p>
                    <p>
                        Con el fin de ejercer los derechos anteriormente descritos, realizar consultas o reclamos
                        relacionados
                        con mis datos personales, puedo contactar al area de servicio al cliente en
                        conexion@agentesmart.com
                    </p>
                    <p>
                        En caso de transmitir internacionalmente datos personales de los usuarios, AGENTE SMART
                        suscribirá
                        los correspondientes acuerdos, en los términos del decreto 1377 de 2013, y demás normas
                        concordantes
                        sobre la materia.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3>Datos recolectados:</h3>
                    <p>
                        Para cumplir las finalidades descritas podemos recolectar datos de nuestra plataforma, como los
                        siguientes:
                    </p>
                    <p>Nombre de dominio;</p>
                    <ol>
                        <li>Tipo de navegador y sistema operativo;</li>
                        <li>Páginas web visitadas por los Usuarios;</li>
                        <li>Vínculos seleccionados por los Usuarios;</li>
                        <li>Cantidad de tiempo de visitas por los Usuarios;</li>
                        <li>Vínculos seleccionados por los Usuarios;</li>
                        <li>Cantidad de tiempo de la visita a la Página Web o Plataforma;</li>
                        <li>Actividades de los Usuarios en el Página Web;</li>
                        <li>URL de procedencia o páginas web que llevó a los Usuarios al Página Web;</li>
                        <li>Identificación de dispositivo o identificación alternativa cuando sea requerido
                            por el proveedor de la plataforma;</li>
                        <li>Instalaciones y desinstalaciones; </li>
                        <li>Detalles de transacciones y tu historia.</li>
                    </ol>
                    
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3>Vigencia</h3>
                    <p>
                        Esta Política de Tratamiento entra en vigencia a partir del mes de noviembre del 2020.
                        En cualquier caso, podremos modificar o actualizar esta Política, en caso de que sea necesario,
                        difundiendo los nuevos términos a través de la página web o la aplicación.</p>
                </div>
            </div>
        </div>
    </div>
