<div class="row align-cols">
  <div class="col" [ngClass]="{ s9: allowCreate, s12: !allowCreate }">
    <mat-form-field appearence="fill">
      <mat-select
        placeholder="Elige contexto"
        (selectionChange)="catchContextSelected($event)"
        [(value)]="contexto"
        name="contexto"
      >
        <mat-option>
          <span class="grey-text">Deseleccionar</span>
        </mat-option>
        <mat-option *ngFor="let contexto of contextNameList" [value]="contexto">
          <span [ngClass]="{ 'blue-text': contexto == 'contextos' }">
            {{ contexto }}
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col s3" *ngIf="allowCreate">
    <button mat-icon-button (click)="openContextCreator()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<!-- <div class="row">
</div> -->
