mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fas {
  color: #edd10c;
  background: #000;
  border-radius: 50%;
  font-size: xxx-large;
  margin: 1em;
}
