<div class="row" *ngIf="(_intent.state$ | async) as intentState; else loading">
  <!-- <waiting-bar></waiting-bar> -->

  <!-- Desktop -->
  <ng-container *ngIf="!responsive.small; else mobileDesing">
    <div strechHeight class="col s6" id="intent-form">
      <div id="intent-container" >

        <div class="row intent-content" strechHeight>

          <!-- INTENT HEADER -->
          <ng-container *ngIf="
            routeIntentName == 'Default Welcome Intent' ||
            routeIntentName == 'Default Fallback Intent';
          else default">
              <div id="intent-header">
                <div class="row align-cols" >
                  <div class="col s10">
                    <h2 class="intent-title">
                      <ng-container *ngIf="routeIntentName == 'Default Welcome Intent'; else fallback">
                        Primera interacción
                      </ng-container>
                      <ng-template #fallback>
                        Interacción de soporte
                      </ng-template>
                    </h2>
                  </div>
                  <div class="col s2">
                    <button style="float: right;" mat-raised-button color="primary"
                    (keydown.enter)="$event.preventDefault()"
                    (keydown.enter)="$event.stopImmediatePropagation()"
                    (click)="_intent.saveChanges()"
                    [disabled]="!intentState.unsaved"
                    >Guardar</button>
                  </div>
                </div>
              </div>
          </ng-container>
          <ng-template #default >
            <as-intent-header></as-intent-header>
          </ng-template>

          <!-- INTENT BODY -->
          <ng-container *ngIf="routeIntentName !== 'Default Fallback Intent'; else fall">
            <as-training-phrases></as-training-phrases>
            <as-parameters></as-parameters>
          </ng-container>
          <ng-template #fall>
            <p class="center">Para evitar confusiones o cuando una comentario de un cliente no puede ser comprendido por el AGENTE, puedes configurar esta interacción para que muestre respuestas para ceder la conversación</p>
          </ng-template>

        </div>
      </div>
    </div>
    <div strechHeight class="col s6" id="resp-manager" #respuestas>
      <as-responses (lastPositionChange)="onLastChange($event)" ></as-responses>
    </div>
  </ng-container>

  <!-- Mobile -->
  <ng-template #mobileDesing>
    <mat-accordion>
      <mat-expansion-panel class="intent-panel" [expanded]="true">
        <mat-expansion-panel-header> Mensaje </mat-expansion-panel-header>
        <div id="intent-container">
          <ng-container *ngIf="routeIntentName !== 'welcome'; else welcome">
            <as-intent-header></as-intent-header>
          </ng-container>
          <ng-template #welcome >

            <div id="intent-header">
              <div class="row align-cols">
                <div class="col s10">
                  <p class="intent-title"> Primera interacción </p>
                </div>
                <div class="col s2">
                  <button style="float: right;" mat-raised-button color="primary"
                  (keydown.enter)="$event.preventDefault()"
                  (keydown.enter)="$event.stopImmediatePropagation()"
                  (click)="_intent.saveChanges()"
                  [disabled]="!intentState.unsaved"
                  >Guardar</button>
                </div>
              </div>
          </div>


          </ng-template>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header> Respuestas </mat-expansion-panel-header>
        <as-responses (lastPositionChange)="onLastChange($event)"></as-responses>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
</div>
<ng-template #loading>
  <div class="loading-container" mxStretchHeight>
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
