<div class="row" *ngIf="(_intent.state$ | async) as intentState">
  <!-- <waiting-bar></waiting-bar> -->

  <!-- Desktop -->
  <ng-container *ngIf="!responsive.small; else mobileDesing">
    <div strechHeight class="col s6" id="intent-form">
      <div id="intent-container" >

        <div class="row intent-content" strechHeight>
          <ng-container *ngIf="routeIntentName !== 'welcome'; else welcome">
            <as-intent-header></as-intent-header>
          </ng-container>
          <ng-template #welcome >

            <div id="intent-header">
              <div class="row align-cols" >
                <div class="col s10">
                  <p class="intent-title"> Primera interacción </p>
                </div>
                <div class="col s2">
                  <button style="float: right;" mat-raised-button color="primary"
                  (keydown.enter)="$event.preventDefault()"
                  (keydown.enter)="$event.stopImmediatePropagation()"
                  (click)="_intent.update()"
                  [disabled]="!intentState.unsaved"
                  >Guardar</button>
                </div>
              </div>
          </div>


          </ng-template>

          <as-training-phrases></as-training-phrases>
          <as-parameters></as-parameters>
        </div>
      </div>
    </div>
    <div strechHeight class="col s6" id="resp-manager" #respuestas>
      <as-responses (lastPositionChange)="onLastChange($event)" ></as-responses>
    </div>
  </ng-container>

  <!-- Mobile -->
  <ng-template #mobileDesing>
    <mat-accordion>
      <mat-expansion-panel class="intent-panel" [expanded]="true">
        <mat-expansion-panel-header> Mensaje </mat-expansion-panel-header>
        <div id="intent-container">
          <ng-container *ngIf="routeIntentName !== 'welcome'; else welcome">
            <as-intent-header></as-intent-header>
          </ng-container>
          <ng-template #welcome >

            <div id="intent-header">
              <div class="row align-cols">
                <div class="col s10">
                  <p class="intent-title"> Primera interacción </p>
                </div>
                <div class="col s2">
                  <button style="float: right;" mat-raised-button color="primary"
                  (keydown.enter)="$event.preventDefault()"
                  (keydown.enter)="$event.stopImmediatePropagation()"
                  (click)="_intent.update()"
                  [disabled]="!intentState.unsaved"
                  >Guardar</button>
                </div>
              </div>
          </div>


          </ng-template>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header> Respuestas </mat-expansion-panel-header>
        <as-responses (lastPositionChange)="onLastChange($event)"></as-responses>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
</div>
