<div id="home">


    <!-- FILA 1 -->
    <div class="row home_sec" id="hero_row">
        <div class="col s8 m6 l5" id="hero_cont">
            <h1>Déjalo en manos
                de tu agente</h1>
            <p>
                El mejor asistente digital para
                atender a tus clientes, obtener datos de tus clientes y vender a través de diferentes canales.
            </p>
            <aSmart-login-button></aSmart-login-button>
        </div>
        <div class="col s12 m6 l7" id="hero_img">
            <img src="/assets/img/Chica_robot.png" alt="">
        </div>
    </div>



    <!-- FILA 2 -->
    <div class="row home_sec">
        <div class="col s12 m6 l6 right">
            <h3 class="right">Fácil de entrenar</h3>
            <p class="right">
                Con nuestra interfaz interactiva, tu agente puede contestar casi como tú. Cada interacción con tus
                clientes, tu agente aprenderá como atenderlos mejor.
            </p>
            <!-- <button mat-raised-button color="primary" class="right">Saber más</button> -->
        </div>
        <div class="col s12 m6 l6">
            <img style="width:100%;" src="/assets/img/mano.png" alt="">
        </div>
    </div>


    <!-- FILA 3 -->
    <div class="row home_sec">
        <div class="col s12 m6 l6 ">
            <h3 class="">Atiende en todo momento</h3>
            <p class="">
                Deja que tu agente atienda aquellas preguntas frecuentes o prospecte nuevos clientes, para que te
                dediques a cosas un poco más importantes.
            </p>
            <!-- <button mat-raised-button color="primary" class="">Saber más</button> -->
        </div>
        <div class="col s12 m6 l6">
            <img style="width:100%;" src="/assets/img/robot_sonriente.png" alt="">
        </div>
    </div>
    <div class="row home_sec">
        <div class="col s12 m6 l6 right">
            <h3 class="right">Conéctate en todos lados</h3>
            <p class="right">
                Con Agente Smart es sencillo atender por diferentes canales. No necesitas tener sitio web, sólo
                necesitas configurar tus redes sociales y ¡LISTO!
            </p>
            <!-- <button class="right" mat-raised-button color="primary">Saber más</button> -->
        </div>
        <div class="col s12 m6 l6">
            <img style="width:100%;" src="/assets/img/redes.png" alt="">
        </div>
    </div>
    <!-- FILA 4 -->
    
    <!-- FILA 5 -->
    <div class="row home_sec">
        <div class="col s12 m6 l6">
            <h3>Flexibilidad y soporte</h3>
            <p>
                Puedes tomar el control en cualquier momento y nunca estarás solo. Además contamos con un plan de
                capacitación para que saques el mayor provecho de tu agente.
            </p>
            <!-- <button mat-raised-button color="primary">Saber más</button> -->
        </div>
        <div class="col s12 m6 l6">
            <img style="width:100%;" src="/assets/img/configurable.png" alt="">
        </div>
    </div>

    <div class="row home_sec">
        <div class="col s12 center">
            <h3 class="center">Inicia ahora</h3>
            <aSmart-login-button></aSmart-login-button>
        </div>
        <div class="col s12">
            <img style="width:100%;" src="/assets/img/paisaje.png" alt="">
        </div>
    </div>



</div>

