<!-- Respuesta -->
<div class="row">
  <div class="col s12 resp-label">
    Respuesta
    <i
      style="font-size: smaller"
      class="fas fa-info-circle"
      matTooltip="El mensaje que tu agente responderá"
    ></i>
  </div>
  <div class="col s12">
    <div class="row text-box">
      <as-text-response
        [text]="result.response | textResponse"
        (onTextEvent)="catchText($event)"
      ></as-text-response>
    </div>
  </div>

<!-- SUGGESTS -->
  <div class="col s8 resp-label">
    Activar sugerencias
    <i
      style="font-size: smaller"
      class="fas fa-info-circle"
      matTooltip="Opciones de respuesta que tu cliente puede elegir en la conversación"
    ></i>
  </div>
  <div class="col s2 toggle" *ngIf="result.suggestions">
    <mat-slide-toggle
      [checked]="result.suggestions.length > 0"
      (change)="toggleSuggestions($event)"
    ></mat-slide-toggle>
  </div>
</div>
<as-suggest-response *ngIf="switchSuggestions"
  (onSugerenciasChange)="catchSugerencias($event)"
  [sugerencias]="result.suggestions || []"
></as-suggest-response>
