<div class="respuesta-card row" #respuestaCard>
  <!-- Icono de color para identificar tipo de respuesta -->
  <div
    class="col 2 res-type-icon"
    [ngClass]="{ 'type-icon-closed': !switchEditResp }"
  >
    <button
      mat-fab
      *ngIf="responseType"
      [ngStyle]="{ background: responseType.color }"
    >
      <i class="fas" [ngClass]="responseType.icono"></i>
    </button>
  </div>

  <div class="col s10">
    <mat-card [ngClass]="{ 'card-closed': !switchEditResp }">
      <!-- TARJETA CERRADA -->
      <ng-container *ngIf="!switchEditResp; else editResp">
        <!-- SIGUIENTE MENSAJE -->
        <div class="row align-cols">
          <div class="col s10 res-ref" (click)="emitOpened()">
            <div [ngSwitch]="respuesta.nextIntent">
              <div *ngSwitchCase="'*fin'">
                <span><b>Termina conversación</b></span>
              </div>
              <div *ngSwitchCase="'*sug'">
                <span><b>Sugerencias</b></span>
              </div>
              <div *ngSwitchDefault>
                <span style="font-size: x-small">Siguiente conversacion</span>
                <br>
                <b>{{ respuesta["nextIntent"] }}</b>
              </div>
            </div>
          </div>

          <!-- MENÚ DE LA TARJETA -->
          <div class="col s2">
            <button mat-icon-button [mat-menu-trigger-for]="card">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <mat-menu #card="matMenu">
              <button mat-menu-item (click)="onDelete.emit(respuesta.id)">
                Eliminar
              </button>
            </mat-menu>
          </div>
        </div>
      </ng-container>

      <!-- TARJETA ABIERTA -->
      <ng-template #editResp>

        <!-- CONTENIDO DE LA TARJETA -->
        <mat-card-content>

          <!-- INPUT CONTEXT -->
          <ng-container *ngIf="!isBienvenida">
            <div class="row card-row">
              <div class="col s4 resp-label">
                Contexto
                <i class="fas fa-info-circle"
                  style="font-size: smaller"
                  matTooltip="Contexto que condiciona la respuesta. La conversación puede provenir desde cualquier contexto si no se selecciona"
                ></i>
              </div>
              <div class="col s8">
                <as-context-selector
                  [contexto]="setPrevContextSelected(respuesta.inputContexts)"
                  (contextSelected)="catchInputContext($event)"
                ></as-context-selector>
              </div>
            </div>
          </ng-container>

          <!-- CONDICIONES -->
          <div id="conditionals" class="row">
            <div class="col s4 resp-label">
              <p>Condiciones
                <i
                  style="font-size: smaller"
                  class="fas fa-info-circle"
                  matTooltip="Implementa condiciones para que esta respuesta pueda ser usada por el agente"
                ></i></p>
            </div>

            <div class="col s8">
              <button mat-raised-button color='accent'
              (click)="addCondition()"
              >Agregar condición</button>
            </div>

            <div class="col s12">
              <ng-container *ngFor="let condition of respuesta.conditions, index as i">
                <as-conditional-response-form
                [condition]="condition"
                (onChange)="updateConditions($event, i)"
                (onRemove)="removeCondition(i)"
                ></as-conditional-response-form>
              </ng-container>
            </div>
          </div>




          <as-default-response-form
            [result]="result"
            (onRespChanges)="catchResult($event)"
            (toggleSugerencias)="sugerenciasActivated = $event"
          >
          </as-default-response-form>


          <div class="row" id="asDefault">
            <div class="col s10 resp-label">
                Como default
                <i style="font-size:smaller" class="fas fa-info-circle"
                matTooltip="Si activas esta opción, esta respuesta sólo se mostrará si alguna otra no se reconoce"
                ></i>
            </div>
            <div class="col s2 toggle" >
                <mat-slide-toggle [checked]="respuesta.asDefault"
                (change)="toggleAsdefault($event)" ></mat-slide-toggle>
            </div>
          </div>

          <!-- OUTPUT CONTEXT -->
          <!-- <ng-container *ngIf="!sugerenciasActivated">
            <div class="row card-row">
              <div class="col s4 resp-label">
                Cambiar contexto
                <i
                  class="fas fa-info-circle"
                  style="font-size: smaller"
                  matTooltip="Elige el contexto que tendrá la conversación a partir de esta respuesta"
                ></i>
              </div>
              <div class="col s8">
                <aSmart-contexto-selector
                  [contexto]="setPrevContextSelected(respuesta.outputContexts)"
                  (contextSelected)="catchOutputContext($event)"
                ></aSmart-contexto-selector>
              </div>
            </div>
          </ng-container> -->

          <!-- Select next mensaje -->
          <div class="row card-row" id="siguiente">
            <div class="col s4 resp-label">
              Siguiente
              <i
                style="font-size: smaller"
                class="fas fa-info-circle"
                matTooltip="Elige la siguiente interacción con la que continúa la conversación. La interacción que te indique el tipo de mensajes esperados"
              ></i>
            </div>
            <div class="col s8">
              <div class="row align-cols">
                <div class="col s9">
                  <mat-form-field appearance="outline">
                    <mat-select
                      [disableRipple]="true"
                      [(ngModel)]="respuesta.nextIntent"
                      (selectionChange)="setNextIntentContext($event)"
                      name="intent"
                    >
                      <mat-option value="*fin"> Termina conversación </mat-option>
                      <mat-option
                        *ngFor="let intent of nextMensajesList"
                        [value]="intent?.displayName"
                      >
                        {{ intent?.displayName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col s3">
                  <button mat-icon-button (click)="openAddIntent()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </mat-card-content>

        <!-- ACTION BUTTTONS -->
        <mat-card-actions class="res-actions">
          <button mat-raised-button (click)="switchEditResp = false">
            Cerrar
          </button>
          <button mat-raised-button color="accent" (click)="onSave()">
            Guardar
          </button>
        </mat-card-actions>
      </ng-template>
    </mat-card>
  </div>
</div>
