<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center">Despreocúpate</h1>
        </div>
    </div>
    <div class="row prices-table">
        <div class="col s12">
            <p class="center">
                Agente Smart tiene para ti 3 tipos de planes que se pueden
                adaptar a tus necesidades.
            </p>
        </div>
        <div class="col s12 m4 l4">
            <img  style="width: 100%"
                src="assets/img/despreocupate.png"
                alt=""
            />
        </div>
        <div class="col s12 m8 l8">
            <table class="responsive-table bordered">
                <thead>
                    <tr>
                        <td></td>
                        <td><b>Gratis</b></td>
                        <td><b>Plus</b></td>
                        <td><b>Premium</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Disparador de pagos</td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Chatbot meseenger</td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Chatbot telegram</td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Respuestas automáticas google my business</td>
                        <td></td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Respuestas automáticas mercado libre</td>
                        <td></td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Respuestas automáticas youtube</td>
                        <td></td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Chatbot pagina web</td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Chatbot whatsapp</td>
                        <td></td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Agentes</td>
                        <td><b>1</b></td>
                        <td><b>4</b></td>
                        <td><b>6</b></td>
                    </tr>
                    <tr>
                        <td>Notificaciones por correo</td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Notificaciones por sms y/o whatsapp</td>
                        <td></td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Administrador por cuenta</td>
                        <td><b>1</b></td>
                        <td><b>10</b></td>
                        <td><b>15</b></td>
                    </tr>
                    <tr>
                        <td><b>Asesoría</b></td>
                        <td></td>
                        <td><b>Dos horas mensual</b></td>
                        <td><b>Dos horas mensual</b></td>
                    </tr>
                    <tr>
                        <td>Fichas para exhibir productos</td>
                        <td><b>18</b></td>
                        <td><b>100</b></td>
                        <td><b>150</b></td>
                    </tr>
                    <tr>
                        <td>Informes de la plataforma</td>
                        <td></td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                        <td>
                            <i class="fas fa-check green-text text-lighten-1" ></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <!-- <button mat-raised-button color="primary">Ingresar</button> -->
                            <ng-container *ngIf="_auth.user$ | async else unauthenticated">
                                <a [routerLink]="['/dashboard']" mat-raised-button>Ingresar</a>
                            </ng-container>
                            <ng-template #unauthenticated>
                                <gdev-login-button></gdev-login-button>
                            </ng-template>

                        </td>
                        <td>
                            <button mat-raised-button color="primary">$33,999 COP</button>
                        </td>
                        <td>
                            <button mat-raised-button color="primary">$39,999 COP</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <mat-card>
                <mat-card-content>
                    <h4 class="center"> ¿Tienes otras necesidades?</h4>
                    <p class="center">Si ninguno de nuestros planes se adapta a tus necesidades o tienes algo interesante en mente, nos gustaría escucharte.</p>
                    <div class="row">
                        <div class="col s12 center">
                            <a mat-raised-button
                            class="wpbtn"
                            gdev-color
                            color="white"
                            background="primary"
                            target="_blank"
                            href="https://api.whatsapp.com/send?phone=523121805955&text=Me%20gustar%C3%ADa%20platicar%20sobre%20Agente%20Smart%20y%20mi%20negocio">
                                Contáctanos
                            </a>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
