<div class="row align-cols">
  <div class="col s10">
    <h4>Frases de entrenamiento</h4>
  </div>
  <div class="col s2">
    <button mat-button color="primary" (click)="toAddPhrase()">
      Agregar
    </button>
  </div>
</div>

<!-- TRAINING PHRASES LIST -->
<div class="row">
  <div class="col s12" *ngIf="currentPage$ | async as currentPage">

    <mat-paginator
    [length]="phrasesIndex.length"
    [pageSize]="10"
    [showFirstLastButtons]="true"
    [pageIndex]="phrasesIndex.page"
    (page)="phrasesIndex.onPageEvent($event)"
    ></mat-paginator>

    <mat-divider></mat-divider>

    <!-- LIST-->
    <ul class="phrases-list" >

      <!-- <ng-container *ngIf="Frases.length > 0 || addPhraseInput; else noPhrases"> -->
      <mat-accordion #accordeon="matAccordion" [multi]="false">
        <li
        *ngFor="let phrase of currentPage; index as i"
        class="phrase-item"
        (mouseup)="onSelect(phrase, i)"
        >
          <mat-expansion-panel
          #phrasePanel="matExpansionPanel"
          hideToggle
          [disabled]="disableFrase(phrase)"
          [expanded]="validateFraseExpanded(i)"
          >

          <!--# PHRASE VIEW -->
            <mat-expansion-panel-header>
              <as-phrase-item
                [phrase]="phrase"
                [index]="i"
              ></as-phrase-item>
            </mat-expansion-panel-header>


            <!--# PHRASE CONFIG -->
            <as-phrase-params-form
              [phrase]="phrase"
            ></as-phrase-params-form>
          </mat-expansion-panel>
        </li>
      </mat-accordion>
      <!-- </ng-container> -->


      <!-- CREATE Agregar nueva frase -->
      <li *ngIf="addPhraseInput; else addBtn" class="phrase-item">
        <as-phrase-input
        (onBlur)="addPhraseInput = false"
        (onSubmit)="onSetPhrase($event)"
        ></as-phrase-input>
      </li>
      <ng-template #addBtn>
      <li  class="phrase-item no-frase" (click)="toAddPhrase()">
        Agrega una frase
      </li>
      </ng-template>
    </ul>

    <mat-paginator
    [length]="phrasesIndex.length"
    [pageSize]="10"
    [showFirstLastButtons]="true"
    [pageIndex]="phrasesIndex.page"
    (page)="phrasesIndex.onPageEvent($event)"
    ></mat-paginator>
  </div>
</div>
