<!-- Parámetro -->
<div class="row condition" >
  <div class="col s4 resp-label">
    Si parametro
    <i
      class="fas fa-info-circle"
      matTooltip="Elige un parámetro de la lista el cuál comparar"
    ></i>
  </div>
  <div class="col s8">
    <as-entity-type-selector
      (tipoSelected)="onParamChange($event)"
      [value]="condition.parameter"
    ></as-entity-type-selector>

    <!-- <aSmart-param-selector
          [paramSelected]="setParameter()"
          (onParamaSelected)="onParamChange($event)"
      ></aSmart-param-selector> -->
  </div>

<!-- Condición -->
  <div class="col s4 resp-label">
    es
    <i
      class="fas fa-info-circle"
      matTooltip="Condición para comparar el parámetro"
    ></i>
  </div>
  <div class="col s8">
    <mat-form-field appearance="outline">
      <mat-select
        placeholder="condición"
        [(ngModel)]="condition.operator"
        name="condition"
        (selectionChange)="onChange.emit(condition)"
      >
        <mat-option
          *ngFor="let condition of condicionesList"
          [value]="condition.displayText"
        >
          {{ condition.displayText }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<!-- Valor -->
  <ng-container  *ngIf="!disableValue">
    <div class="col s4 resp-label">
      Valor
      <i
        class="fas fa-info-circle"
        matTooltip="El valor contra el que has de comparar el parámetro asignado"
      ></i>
    </div>
    <div class="col s8">
      <!-- Si no es original muestra las opciones -->
      <ng-container *ngIf="isntSystem as tipo; else original">
        <as-entity-value-selector
          [entityTypeDisplayName]="tipo.displayName"
          [value]="condition.value"
          (selected)="catchValue($event)"
        ></as-entity-value-selector>
      </ng-container>

      <!-- Recibe cualquier valor -->
      <ng-template #original>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            name="conditionValue"
            id="conditionValue"
            [formControl]="conditionValueCtrl"
          />
        </mat-form-field>
      </ng-template>
    </div>
  </ng-container>
  <button mat-button color='warn'
  (click)="onRemove.emit()"
  >Eliminar condición</button>
</div>

