<!-- Parámetro -->
<div class="row">
  <div class="col s4 resp-label">
    Si el dato
    <i
      class="fas fa-info-circle"
      matTooltip="Elige un parámetro de la lista el cuál comparar"
    ></i>
  </div>
  <div class="col s8">
    <as-entity-type-selector
      (tipoSelected)="onParamChange($event)"
      [value]="result.parametro"
    ></as-entity-type-selector>

    <!-- <aSmart-param-selector
          [paramSelected]="setParameter()"
          (onParamaSelected)="onParamChange($event)"
      ></aSmart-param-selector> -->
  </div>
</div>
<!-- Condición -->
<div class="row">
  <div class="col s4 resp-label">
    es
    <i
      class="fas fa-info-circle"
      matTooltip="Condición para comparar el parámetro"
    ></i>
  </div>
  <div class="col s8">
    <mat-form-field appearance="outline">
      <mat-select
        placeholder="condición"
        [(ngModel)]="result.condicion"
        name="condition"
        (selectionChange)="onRespChanges.emit(result)"
      >
        <mat-option
          *ngFor="let condition of condicionesList"
          [value]="condition.displayText"
        >
          {{ condition.displayText }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<!-- Valor -->
<div class="row" *ngIf="!disableValue">
  <div class="col s4 resp-label">
    Valor
    <i
      class="fas fa-info-circle"
      matTooltip="El valor contra el que has de comparar el parámetro asignado"
    ></i>
  </div>
  <div class="col s8">
    <!-- Si no es original muestra las opciones -->
    <ng-container *ngIf="isntSystem as tipo; else original">
      <as-entity-value-selector
        [entityTypeDisplayName]="tipo.displayName"
        [value]="result.valor"
        (selected)="result.valor = $event"
      ></as-entity-value-selector>
    </ng-container>

    <!-- Recibe cualquier valor -->
    <ng-template #original>
      <mat-form-field>
        <input
          class="resp-input"
          matInput
          type="text"
          name="conditionValue"
          id="conditionValue"
          [(ngModel)]="result.valor"
        />
      </mat-form-field>
    </ng-template>
  </div>
</div>
<!-- <aSmart-simple [outputRes]="{
  mensaje:result.respuesta,
  estiloRespuesta:result.estiloRespuesta
}"
(onRespChanges)="catchresult($event)"
></aSmart-simple> -->
