::ng-deep {
    .mat-tab-header-pagination {
        display: none;
    }
    .mat-tab-links {
        flex-direction: column;
        .mat-tab-link {
            justify-content: flex-start;
            padding: 0 .5em !important;
        }
        .mat-tab-link-active {
            border-left: solid 3px blue !important;
        }
    }
    .mat-ink-bar {
        display: none;
    }
}