/* For use in src/lib/core/theming/_palette.scss */
$as-blueagent: (
    50 : #ffffff,
    100 : #e1ebfd,
    200 : #acc9f9,
    300 : #699ef5,
    400 : #4d8cf3,
    500 : #3079f1,
    600 : #1366ef,
    700 : #0e5ad5,
    800 : #0c4eb9,
    900 : #0b429c,
    A100 : #ffffff,
    A200 : #bbd5ff,
    A400 : #5595ff,
    A700 : #4387f7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$as-yellowagent: (
    50 : #ffffff,
    100 : #fdf1df,
    200 : #f9d9ab,
    300 : #f3bb69,
    400 : #f1ae4c,
    500 : #efa130,
    600 : #ed9414,
    700 : #d28310,
    800 : #b5710e,
    900 : #995f0c,
    A100 : #ffffff,
    A200 : #ffe2b9,
    A400 : #ffb953,
    A700 : #f6ad43,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$as-darkagent: (
    50 : #397bde,
    100 : #1d57ae,
    200 : #153f7e,
    300 : #0b2040,
    400 : #061326,
    500 : #02060c,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #0e6eff,
    A200 : #0043a7,
    A400 : #041b3d,
    A700 : #051123,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

