.paramOptions {
  opacity: 1;
  transition: all .3s;
  display: flex;
  padding: 0;
  .mat-icon-button {
    width:30px;
    height: 30px;
    margin: 0
  }
}

.param-row {
margin-bottom: 0;

}

::ng-deep .mat-form-field-underline{
  opacity: 0;
}
