<div class="container">
  <div class="row">
    <div class="col s12">


      <mat-drawer-container [hasBackdrop]="false">
        <mat-drawer-content id="conversation-list">
          <ng-container *ngFor="let client of clients.list$ | async">
            <!-- <div class="row"> -->
              <!-- <div class="col s12"> -->
                <mat-card class="mat-elevation-z0 profile-card"
                [routerLink]="['conv', client.clientId]">
                  <mat-card-header>
                    <img mat-card-avatar [src]="client.photoURL || defaultAvatar">
                    <mat-card-title
                    [ngStyle]="{'font-weight': client.isNew ? 'bold': 'normal'}">
                      {{client.name || client.clientId}}
                    </mat-card-title>
                    <mat-card-subtitle>
                      {{client.lastUpdate | mxTimestamp | date:'short'}}
                    </mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              <!-- </div> -->
            <!-- </div> -->
          </ng-container>
        </mat-drawer-content>

        <mat-drawer id="conversation-container" #conversation="matDrawer"
        [position]="'end'"
        [mode]="'side'"
        [opened]="true"
        [disableClose]="true">
          <router-outlet></router-outlet>
          <p class="center no-conv">
            Elige una conversación para verla
          </p>
        </mat-drawer>
      </mat-drawer-container>


    </div>
  </div>
</div>
